{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        The Neo-Political Compass is designed to help those curious about politics explore political ideology.
        It consists of three axes by which users can measure their political beliefs.
        Users can create an account and track the progression of their political beliefs in all three axes over time.
    </p>
    <p>
        The first axis is the economic axis. A positive score on the economic axis indicates a favorable position towards 
        an economic system based on absolute property rights. Notable systems with a high economic score would include 
        right-libertarianism and capitalism. A negative score indicates opposition to an economic system of absolute
        property rights. Notable systems with a low economic score would include communalism and socialism.
    </p>
    <p>
        The second axis is the ethical axis. A positive score on the ethical axis indicates a more traditional morality. 
        Notable belief systems with high ethical scores would include conservatism and traditionalism. A negative score
        indicates a more liberal morality. Notable belief systems with low ethical scores would include liberalism and
        progressivism.
    </p>
    <p>
        The third axis is the social axis. A positive score on the social axis indicates a preference for higher
        concentration of social authority. Notable government systems with a high social score would include oligarchy,
        monarchy, or republic. A negative score on the social axis indicates a preference more a more equal distribution
        of such authority. Notable government systems with a low social score would include direct democracy or classical
        anarchism.
    </p>
    <p>
        We hope that by analyzing political ideologies through a wide number of scales rather than just left and right will
        help our users explore the diversity and nuance in political ideologies. If you wish to learn more about other
        ideologies, we have compiled a list of recommended political works in the sidebar.
    </p>
{% endblock content %}
